<main>
	<form action="/add-post" method="POST">
		<fieldset>
			<legend>Add New Post</legend>
			
			<label for="title"><b>Title</b>: </label>
			<input type="text" placeholder="Post Title" name="title">

			<label for="title"><b>Content</b>: </label>
			<textarea placeholder="Post Content" name="body" cols="50" rows="10"></textarea>

			<input type="submit" value="Add Post" class="btn">
		</fieldset>
	</form>
	<a href="/dashboard">&larr; Back</a>
</main>
