<div class="container">
	<h3>Sign In</h3>
</div>

<form id="sign-in-form">
	<label for="username"><b>Username</b>:</label>
	<input type="text" placeholder="Enter Username" name="username" id="username">

	<label for="password"><b>Password</b>:</label>
	<input type="password" placeholder="Enter Password" name="password" id="password">

	<input type="submit" value="Login" class="btn">
</form>

