<div class="admin-topbar">
	<h3>{{title}}</h3>
	<nav class="admin-nav">
		<ul class="nav-list">
			<a class="nav-link" href="/dashboard"><li class="nav-item">Home</li></a>
			<a class="nav-link" href="/about"><li class="nav-item">About</li></a>
			<a class="nav-link" href="/blog"><li class="nav-item">Blog</li></a>
			<a class="nav-link" href="/contact"><li class="nav-item">Contact</li></a>
		</ul>
	</nav>
	<div>
		<a href="/logout">Logout</a>
	</div>
</div>
