<nav class="admin-nav">
	<ul class="nav-list">
		<a class="nav-link" href="/dashboard">
			<li class="nav-item">Dashboard</li>
		</a>
		<a class="nav-link" href="/admin-blog">
			<li class="nav-item">Blog</li>
		</a>
		<a class="nav-link" href="/">
			<li class="nav-item">Mood Tracker</li>
		</a>
	</ul>
	<div class="logout-btn-container">
		<a class="logout-btn" href="/logout">Logout</a>
	</div>
</nav>
