<nav class="admin-nav">
	<ul class="nav-list">
		<a class="nav-link" href="/dashboard">
			<li class="nav-item">Dashboard</li>
		</a>
		<a class="nav-link" href="/about">
			<li class="nav-item">Blog</li>
		</a>
		<a class="nav-link" href="/blog">
			<li class="nav-item">Services</li>
		</a>
		<a class="nav-link" href="/contact">
			<li class="nav-item">Reviews</li>
		</a>
	</ul>
	<div class="logout-btn-container">
		<a class="logout-btn" href="/logout">Logout</a>
	</div>
</nav>
