<div id="blog-categories">
	<h3>Categories</h3>
	<ul id="category-list">
		<li class="blog-category"><a class="static-link" href="#">Personal</a></li>
		<li class="blog-category"><a class="static-link" href="#">Education</a></li>
		<li class="blog-category"><a class="static-link" href="#">Career</a></li>
		<li class="blog-category"><a class="static-link" href="#">Tutorials</a></li>
		<li class="blog-category"><a class="static-link" href="#">Linux</a></li>
		<li class="blog-category"><a class="static-link" href="#">Science</a></li>
		<li class="blog-category"><a class="static-link" href="#">History</a></li>
		<li class="blog-category"><a class="static-link" href="#">Video Games</a></li>
	</ul>
</div>

