<footer>
	<p>&copy; Michael Caballero (2024)</p>
	<div class="social-links">
		<a class="social-link" target="_" href="https://github.com/mCaballero1224"><img class="social-img" src="/images/github-64.png" alt="GitHub"></a>
		<a class="social-link" target="_" href="https://www.linkedin.com/in/mcaballero-dev/"><img class="social-img" src="/images/linked_in-64.png" alt="LinkedIn"></a>
		{{!-- <a class="social-link" target="_" href=""><img src="/images/discord-64.png" alt="Discord"></a> --}}
	</div>
</footer>
