<nav class="main-nav">
	<ul class="nav-list">
		<a href="/" class="nav-link">
			<li class="nav-item">Home</li>
		</a>
		<a href="/about" class="nav-link">
			<li class="nav-item">About</li>
		</a>
		<a href="/blog" class="nav-link">
			<li class="nav-item">Blog</li>
		</a>
		<a href="/contact" class="nav-link">
			<li class="nav-item">Contact</li>
		</a>
	</ul>
</nav>

