:root {
    --custom-color-name:;
}

html {
    --rose-taupe: #8E6157ff;
    --orange-crayola: #DF7E48ff;
    --buff: #E3A57Bff;
    --licorice: #240E0Cff;
    --dark-purple: #2C1E2Aff;
    --main-background: #000000e5;
}

.App {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    color: var(--buff);
    background-color: var(--main-background);
}

header {

}

header h1 {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}

.container {
    background-color: var(--licorice);
    padding: 1rem;
    color: var(--buff);
    margin: 1rem;
}

.sub-container {
    padding: 1rem;
    border: 2px solid var(--buff);
}

/* ----- Anchors ----- */

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--orange-crayola);
}
 
/* ----- Terminal Styles ----- */

.terminal_container {
}

.terminal {
    height: 400px;
}

.terminal_prompt {
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.terminal_prompt_input {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    color: var(--buff);
}

.terminal_prompt_input:focus {
    outline: none;
}

