@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --custom-color-name:;
}

html {
    --rose-taupe: #8E6157ff;
    --orange-crayola: #DF7E48ff;
    --buff: #E3A57Bff;
    --licorice: #240E0Cff;
    --dark-purple: #2C1E2Aff;
    --main-background: #000000e5;
}

body {
    font-family: 'VT323', monospace;
    line-height: 1.25;
    font-size: 18px;
    background-color: var(--main-background);
    color: var(--buff);
}

a {
    color: var(--orange-crayola);
}

.App {
    padding: 1rem;
}

