<main>
	<div id="about-header">
		<img class="profile-picture" src="https://placehold.co/150" alt="Profile picture" />
		<ul>
			<li><span class="item-title">Name:</span> <span class="item-value">Michael Caballero</span></li>
			<li><span class="item-title">Location:</span> NW Oregon</li>
			<li><span class="item-title">Education:</span> Associate's - Working Toward Bachelor's</li>
			<li><span class="item-title">Area of Study:</span> Cybersecurity</li>
		</ul>
	</div>
	<div>
		<p>Heyo! I'm a NW Oregon local currently studeying to finish up a Cybersecurity degree in university. Other areas of study include psychology, physics, and sociology. My current career goals are to find work in the cybersecurity field.</p>
		<h2>How it Started</h2>
		<p>I've been working with computers as far back as I can remember. I started off exploring the web on the family Dell, and throughout school I learned to use all sorts of software for tasks such as CAD, 3D modeling & printing, web development and software development. However, I've always been interested in cybersecurity.</p>
		<p>My interests began with my introduction to the topic by way of films such as <a class="gen-link" target="_" href="https://en.wikipedia.org/wiki/The_Matrix" title="The Matrix (1999) - Wikipedia">The Matrix</a> or <a class="gen-link" target="_" href="https://en.wikipedia.org/wiki/WarGames" title="WarGames (1983) - Wikipedia">WarGames</a>, to more realistic depictions as seen in <a class="gen-link" target="_" href="https://en.wikipedia.org/wiki/Sneakers_(1992_film)" title="Sneakers (1992) - Wikipedia">Sneakers<a> or <a class="gen-link" target="_" href="https://en.wikipedia.org/wiki/Mr._Robot" title="Mr. Robot (2015) - Wikipedia">Mr. Robot</a>. Later on, I got captivated by a game called <a class="gen-link" target="_" href="https://store.steampowered.com/app/365450/Hacknet/" title="Hacknet (2015)">Hacknet</a> that cemented my desire to learn about hacking and cybersecurity in general. Ever since, that's what I've settled on studying both in and out of my educational career.</p>
		<h2>How it's Going</h2>
		<p>Considering the increase in competition in the jobs market surrounding fields in computer science, I'm not too focused on getting a job in the field. At this point, I'm just working on projects (like this site) while finishing up my degree. At the time of writing, it's just about to hit summer term. I've decided to take the term off to look at internships and career fairs as well as plan for the next year.</p>
		<p>I'm also looking at the JET program to teach English in Japan for at least a year. I've been in the states all my life, so I figure I ought to hop the pond for once and get some more work experience out of it. Plus, I'd like to get some exposure to Japanese culture that isn't anime and videogames.</p>
	</div>
</main>
