<main>
	<section class="articles">
		<h2 class="aritcles-heading">Latest Posts</h2>
		
		<ul class="article-ul">
			<li>
				<a href="#">
					<span>Post Title</span>
					<span class="aritcle-list-date">Date</span>
				</a>
			</li>
		</ul>
		<a href="#" class="pagination">&ls; View Older Posts</a>
	</section>
</main>
