<div class="container">
	<h2 class="text-center in-progress">UNDER CONSTRUCTION</h2>
</div>
<div class="container form-container">
		<form id="contact-form">
			<fieldset id="message-fieldset">
				<legend>Drop a message!</legend>
				<label for="fname">First Name:</label>
				<input type="text" id="fname" name="fname" placeholder="John">
				<label for="lname">Last Name:</label>
				<input type="text" id="lname" name="lname" placeholder="Doe">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" placeholder="johnd@mail.com">
				<label for="message">Message:</label>
				<textarea id="message" name="message" cols="50" rows="4" placeholder="Enter your message here (500 characters max)"></textarea>
			</fieldset>
			<fieldset>
				<legend>Let me know what you think of the site!</legend>
			</fieldset>
		</form>
</div>
