<main>
	{{> blog-categories}}
	<article>
		<div class="blog-header">
			<h1>{{blogTitle}}</h1>
			<p class="blog-created-date">Posted: {{formatDate createdAt}}</p>
			{{#if updated}}
			<p class="blog-created-date">Last Edited: {{formatDate updatedAt}}</p>
			{{/if}}
		</div>
		<div class="blog-body">
		{{{blogBody}}}
		</div>
	</article>
	<div class="back-buttons">
		<a class="static-link" href="/blog">&larr; Back to Blog</a>
		<a class="static-link" href="#blog-categories">&uarr; Back to Top</a>
	</div>
</main>
