<main>
	{{> blog-categories}}
	<article>
		<div class="blog-header">
			<h2>{{data.title}}</h2>
			<p class="blog-created-date">Posted: {{formatDate data.createdAt}}</p>
		</div>
		<p>{{data.body}}</p>
	</article>
	<div class="back-buttons">
		<a class="static-link" href="/blog">&larr; Back to Blog</a>
		<a class="static-link" href="#blog-categories">&uarr; Back to Top</a>
	</div>
</main>
