:root {
	/* CSS HEX */
	--night: #000f08ff;
	--baby-powder: #f0f4efff;
	--bole: #6a3e37ff;
	--bittersweet: #ff785aff;
	--moonstone: #0fa3b1ff;
	--picton-blue: #00abe7ff;
	--jasper: #db504aff;

	/* CSS HSL */
	--night: hsla(152, 100%, 3%, 1);
	--baby-powder: hsla(108, 19%, 95%, 1);
	--bole: hsla(8, 32%, 32%, 1);
	--bittersweet: hsla(11, 100%, 68%, 1);
	--moonstone: hsla(185, 84%, 38%, 1);
	--picton-blue: hsla(196, 100%, 45%, 1);
	--jasper: hsla(2, 67%, 57%, 1);
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--night);
	color: var(--baby-powder);
	font-family: 'Courier New', monospace;
	font-size: 1.25em;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

main {
	padding: 2%;
}

a {
	color: var(--picton-blue);
}

.indent {
	text-indent: 2em;
}

a:hover:not(.nav-link) {
	color: var(--jasper);
	font-weight: bold;
}

a:vistited {
	color: var(--jasper);
}

.container {
	padding: 2%;
}

nav {
	width: 100%;
	background-color: var(--baby-powder);
	margin: 0;
	padding: 0;
}

.nav-list {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0;
	margin: 0;
}

.nav-item {
	list-style: none;
	background-color: var(--bittersweet);
	text-transform: uppercase;
	border-left: 1px solid var(--night);
	border-right: 1px solid var(--night);
}

.nav-link {
	text-decoration: none;
	color: var(--night);
	font-weight: bolder;
	padding: 10px 20px;
	font-size: 1.5em;
}

.nav-item:hover {
	background-color: var(--night);
}

.nav-item:hover .nav-link {
	background-color: var(--night);
	color: var(--baby-powder);
}



label {
	display: block;
}

input, textarea {
	display: block;
	margin-bottom: 2%;
	font-size: 20px;
	font-family: 'Courier New', monospace;
}

.text-center {
	text-align: center;
}

.social-link {
	background-color: var(--baby-powder);
	padding: 1%;
	border-radius: 20px;
}

form {
	margin: 2%;
}

fieldset {
	margin: 2%;
}

legend {
	padding: 1% 2%;
}

#about-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#about-header .profile-picture {
	margin-right: 2%;
}

#basic-info {
	list-style: none;
	padding: 0;
}

#site-goals {
	margin-left: 2%;
}

.in-progress {
	color: yellow;
}
