:root {
	/* CSS HSL */
	--eerie-black: hsla(120, 2%, 13%, 1);
	--charcoal: hsla(215, 24%, 25%, 1);
	--thistle: hsla(282, 39%, 86%, 1);
	--blue-munsell: hsla(186, 93%, 32%, 1);
	--orange-web: hsla(40, 90%, 51%, 1);
	--white-smoke: hsla(0, 0%, 96%, 1);
	--dark-spring-green: hsla(150, 41%, 32%, 1);
	--emerald: hsla(159, 70%, 51%, 1);
	--amaranth-purple: hsla(346, 71%, 38%, 1);
	--red-crayola: hsla(348, 85%, 54%, 1);
	--base-font-size: 1.25em;
}

body {
	font-family: 'Courier New', monospace;
	background-color: var(--eerie-black);
	color: var(--white-smoke);
	font-size: var(--base-font-size);
}

/* Typography */
p {
	
}

.indent {
	text-indent: 2em;
}

a {
	color: var(--emerald);
}

a:hover {
	color: var(--red-crayola);
}

.text-center {
	text-align: center;
}

.page-header {
	padding: 1% 0 0;
}


/* Main Navbar */
.main-nav {
	margin: 2% 0;
	background-color: var(--white-smoke);
}

.main-nav .nav-list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-nav .nav-list .nav-link {
	background-color: var(--blue-munsell);
	margin: 0;
	padding: 0;
}

.nav-item {
	padding: 20px;
}
