#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #EEEEEF;
  line-height: 1.5;
}

h1 {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#content {
  padding: 2%;
}

header {
  posiiton: sticky;
  top: 0;
  padding: 0 0 15px 0;
}

h1 {
  font-family: Iosevka;
  letter-spacing: .1em;
  padding: 2%;
}

.project-card {
  margin: 2%;
  padding: 2%;
}

.in-progress-badge {
  margin-left: 10px;
}

.todo-list {
  width: 50%;
  margin: 0 auto;
}

.todo-done {
  text-decoration: line-through;
}

.project-card-icon {
  color: white;
}

footer {
  margin-top: auto;
  min-width: 100vw;
  text-align: center;
}

footer p {
  margin: 0;
}

footer hr {
  margin: 5px 0;
}

i {
  margin: 8px;
  color: black;
  font-size: 25px
}
